<div class="modal">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-header">
            <h5 class="modal-title">Attention !</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            Etes-vous sûr(e) de vouloir supprimer cet élément ?
       </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" @onclick="CancelHandler">
                <i class="fas fa-times"></i> Annuler
            </button>
            <button class="btn btn-danger" @onclick="DeleteConfirmationHandler">
                <i class="fas fa-trash"></i> Supprimer
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback CancelHandler { get; set; }

    [Parameter]
    public EventCallback DeleteConfirmationHandler { get; set; }
}
