@using BlazorBootstrap;
@using Corail.Maquettage.Models
@using System.Timers

@code {

    [Parameter]
    public IEnumerable<LieuDeLivraisonPreview> Lieux { get; set; } = [];

    [Parameter]
    public EventCallback<LieuDeLivraisonPreview> OnLieuSelected { get; set; }

    private IEnumerable<LieuDeLivraisonPreview> displayedLieux = [];

    private LieuDeLivraisonPreview selectedLieu = new();

    private Timer? debounceTimer;

    private string searchText = "";

    protected override void OnInitialized()
    {
        debounceTimer = new Timer(250);
        debounceTimer.Elapsed += async (sender, e) => await DebounceSearch();
        debounceTimer.AutoReset = false;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        displayedLieux = Lieux ?? [];
    }

    private async Task HandleSearch()
    {
        debounceTimer?.Stop();
        debounceTimer?.Start();
    }

    private async Task DebounceSearch()
    {
        await InvokeAsync(() =>
        {
            ApplyFilters();
            StateHasChanged();
        });
    }

    private void ApplyFilters()
    {
        displayedLieux = Lieux
            .Where(ll => ApplySearchFilter(ll))
            .OrderBy(o => o.Nom)
            .ToList();
    }

    private bool ApplySearchFilter(LieuDeLivraisonPreview lieu)
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;

        var search = searchText.ToLower();
        return lieu.Nom.ToLower().Contains(search) ||
               lieu.Ville.ToLower().Contains(search);
    }
}

<div class="card h-100">

    <div class="card-header input-group">
        <input type="text" class="form-control" placeholder="Rechercher..." @bind-value="searchText" @bind-value:event="oninput" @onkeyup="HandleSearch" />
    </div>

    <div class="card-body">

        @if (Lieux is null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Chargement...</span>
                </div>
            </div>
        }
        else
        {
            if (displayedLieux.Any())
            {
                <LieuxDatagrid DisplayedLieux="displayedLieux" LieuSelectedHandler="OnLieuSelected" />
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <p class="text-body-secondary">Aucun lieu trouvé</p>
                </div>
            }
        }
    </div>
</div>
